body {
  margin: 0px auto;
  background-image: url("./bg.png");
}

main {
  text-align: center;
  margin: auto;
}

.chat {
  margin: 0px auto;
  width: 50%;
  text-align: left;
}

.no-bullets {
  list-style: none;
}

.input {
  margin: 0px auto;
  text-align: left;
  width: 250px;
}

.input::-webkit-input-placeholder {
text-align: center;
}
.input:-moz-placeholder { /* Firefox 18- */
 text-align: center;
}

.input::-moz-placeholder {  /* Firefox 19+ */
 text-align: center;
}

.input:-ms-input-placeholder {
 text-align: center;
}

@media (max-width: 601px) {
  body {
    width: 300px;
  }

  .chat {
    width: 300px;
  }
}
