body {
  text-align: center;
  margin: 0px auto;
  background-image: url("./bg.png");
}

main {
  margin: 0px auto;
}

.chat {
  height: 400px;
  overflow-y: scroll;
  margin: 0px auto;
  width: 50%;
  text-align: left;
  margin-bottom: 5px;
}

.no-bullets {
  list-style: none;
}

.title {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-button {
  margin: 5px;
  margin-bottom: 0px;
}

.input {
  margin: 0px auto;
  text-align: left;
  width: 50%;
}

.button-container {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  font-size: 30px;
}

.invis-button{
  padding-right: 0px;
  height: 33px;
  outline: none;
  background: none;
  border: none;
}

.video-input {
  display: block;
  margin: 0px auto;
  margin-top: 2px;
}

.video-button {
  display: block;
  margin: auto;
}
video {
  margin-top: 10px;
  max-width: 100%;
}

.video-input, .name-input, .input::-webkit-input-placeholder {
  text-align: center;
}
.video-input, .name-input, .input:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

.video-input, .name-input, .input::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

.video-input, .name-input, .input:-ms-input-placeholder {
  text-align: center;
}

.name-input {
  display: inline-block;
  position: relative;
  width: 200px;
  margin-left: 30px;
  margin-bottom: 5px;
}

@media (max-width: 601px) {
  body {
    width: 300px;
  }

  .chat {
    width: 300px;
  }

  .input {
    width: 300px;
  }

  .name-input {
    width: 200px;
  }
}
